{# app/Resources/views/email.html.twig #}

{% block subject %}{% endblock %}

{% block body_text %}{% endblock %}

{% block body_html %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta content="width=device-width">
	</head>

	<body style="margin: 0px; padding: 0px; background-color: #f5f5f5;">
		<br />
		<table width="600" cellpadding="0" cellspacing="0" border="0" style="margin: 0 auto; border: 1px solid #e4e4e4; background-color: #fcfcfc;">
			<thead><tr><td height="130" align="center" valign="middle" style="border-bottom: 1px solid #e4e4e4;"><h1><img src="{{ app.request.basepath }}{{ asset('images/amaurymediasdigital.png') }}" alt="Amaury Médias Digital" border="0" /></h1></td></tr></thead>
			
			<tbody><tr><td style="padding: 10px;">{% block body %}{% endblock %}</td></tr></tbody>
			
			<tfoot><tr><td align="center" style="border-top: 1px solid #e4e4e4; padding: 10px; font-size: 0.8em">Footer email</td></tr></tfoot>
		</table>
		<br /><br />
	</body>
</html>
{% endblock %}