parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    database_table_prefix: null
    mailer_transport: smtp
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~
    mailer_sender_name: null
    mailer_sender_address: null
    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt