/* Login */
#login > #page > div.main {padding: 10px;}
#login > #page > div.main h1 {margin-bottom: 20px; font-size: 20px;}
#login > #page > div.main a.signon {font-weight: bold;}
#login > #page > div.main form {margin: 0 auto; width: 250px;}
#login > #page > div.main form label {font-weight: normal;}
#login > #page > div.main form .checkbox {text-align: left;}

/* Resetting */
#resetting > #page > div.main form input[type="text"], #resetting > div.main form input[type="password"] {margin: 0 auto; width: 300px;}
#resetting > #page > div.main h1, #resetting > div.main p:not([class^="text-"]), #resetting > div.main .alert {text-align: left;}

/* Registration */
#register > #page {width: 750px;}
#register > #page > div.main {text-align: left;}
#register > #page > div.main h2 {font-size: 1.5em; font-weight: bold;}

/* Admin User */
#user > #page > header {border-top-color: #ffbe00;}
#user > #page > header h1 {color: #ffbe00;}

/* Admin User Index */
#user.index > #page .table.all>tbody>tr.off>td, #user.index > #page .table.all>tbody>tr.off>td a {color: #ccc;}
#user.index > #page .table.all>tbody>tr.disable>td, #user.index > #page .table.all>tbody>tr.disable>td a {color: #cc0000;}
#user.index > #page .table>tbody>tr.me>td {background-color: #ffffb1;}
#user.index > #page .table>tbody>tr:hover>td {background-color: #ffbe00; color: #000;}
#user.index > #page .table>tbody>tr:hover>td a {color: #000;}