/* Advertising */
/* General */
#campaign > #page > header {border-top-color: #ff9933;}
#campaign > #page > header h1 {color: #ff9933;}

#partner > #page > header {border-top-color: #905d5d;}
#partner > #page > header h1 {color: #905d5d;}