{# src/Casecenter/UserBundle/Resources/views/Resetting/checkEmail.html.twig #}

{% extends "CasecenterUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body_id %}resetting{% endblock %}
{% block body_class %}{{ parent() }}card{% endblock %}

{% block fos_user_content %}
	<p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>

	<p class="text-center"><a href="{{ path('fos_user_security_login') }}">Retour</a><p/>
{% endblock %}